::selection {
    background-color: rosybrown;
    color: white;
}

body {
    outline: none;
    font-family: 'Actor', sans-serif;
    background-color: #f2f2f2;
    margin: auto 20px;
}

textarea {
    display: block;
    background-color: #fcfcfc;
    color: black;
    border-radius: 5px;
    outline: none;
    margin: 5px auto;
    box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
}

textarea::-webkit-scrollbar {
    width: 1em;
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

textarea::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.logo {
    display: block;
    margin: 40px auto;
    box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
    height: auto;
    max-width: 100%;
}

.main-tagline {
    text-align: center;
}

.main-desc {
    text-align: center;
}

@media (max-width: 543px) {
    .main-tagline {
        font-size: 18px;
    }
    .main-desc {
        font-size: 14px;
    }
}

@media (max-width: 452px) {
    .main-tagline {
        font-size: 16px;
    }
    .main-desc {
        font-size: 12px;
    }
}

.btn-group {
    margin-top: 40px;
    text-align: center;
}

.btn {
    font-size: 18px;
    padding: 10px 15px;
    margin: 5px;
    background-color: rosybrown;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
    cursor: pointer;
    outline: none;
}

.btn:hover {
    background-color: white;
    color: rosybrown;
    border: 2px solid rosybrown;
}

.section-heading {
    font-size: 26px;
}

.sub-section-heading {
    font-size: 20px;
}

.inputs-container {
    text-align: center;
    margin: 40px auto;
}

label,
select {
    margin: 5px;
}

select {
    border-radius: 5px;
    box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
}

code {
    color: white;
    background: rosybrown;
    font-size: 15px;
}

pre {
    white-space: pre-wrap;
    white-space: moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    background: rosybrown;
}

.highlight-code {
    background-color: white;
    color: rosybrown;
}

.project-link {
    text-decoration:none;
    font-size: 20px;
    font-weight: 600;
    color: rosybrown;
    border-bottom: 5px solid rosybrown;
    padding: 5px;
    margin: 5px;
}

.project-link:hover {
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: rosybrown;
    border-top: 2px solid rosybrown;
    border-bottom: 5px solid rosybrown;
}